name: Test and Deploy Laravel

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"

      - uses: actions/checkout@v4  

      - uses: actions/setup-node@v4
        with:
          node-version: 20  

      - uses: mirromutth/mysql-action@v1.1  
        with:
          mysql database: testing
          mysql user: testing_user
          mysql password: super_secret

      - name: Setup environment variables
        run: |
          cp .env.example .env
          echo "APP_ENV=testing" >> .env
          echo "DB_CONNECTION=mysql" >> .env
          echo "DB_HOST=127.0.0.1" >> .env
          echo "DB_PORT=3306" >> .env
          echo "DB_DATABASE=testing" >> .env
          echo "DB_USERNAME=testing_user" >> .env
          echo "DB_PASSWORD=super_secret" >> .env

      - name: Install Composer Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Install Node Dependencies
        run: npm ci

      - name: Generate App Key and Build Assets
        run: |
          php artisan key:generate
          npm run build  # Vite-এর জন্য; Mix হলে npm run prod

      - name: Directory Permissions
        run: chmod -R 775 storage bootstrap/cache

      - name: Run PHPUnit Tests
        run: php artisan test 

      - name: Deploy to Server
        if: ${{ success() }} 
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script_stop: true
          script: |
            cd/home/rayhan/public_html/cicd 
            php artisan down --message="Upgrading" 
            git pull origin main
            composer install --no-interaction --no-progress --optimize-autoloader
            npm ci
            npm run build
            php artisan migrate --force
            php artisan optimize:clear
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
            php artisan up  # Maintenance off